<header>
    <nav>
        <div class="logo">
            <img src="https://static.vecteezy.com/system/resources/previews/006/099/883/non_2x/illustration-of-the-logo-of-the-veterinary-clinic-vector.jpg" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Pet Care</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="buttons">
            <button class="login-btn">Log In</button>
            <button class="book-now-btn">Book Now</button>
        </div>
    </nav>
</header>